body{
    background-color: black;
}

h1 {
    color: aqua;
    background-color: darkred;
    text-align: center;
}

h2 {
    color: aqua;
    text-align: center;
}

h3 {
    color: darkred;
    text-align: center;
}

#estudios_page {
    background-color: darkgreen;
    border-radius: 50%;
    font-size: 50px;
    color: aqua;
    text-align: center;
}

button {
    color: green;
    background-color: aquamarine;
}

.box_home {
    margin-top: 70px;
    display: inline-block;
    margin-left: 43%;
    width: 300px;
    height: 300px;
    position: relative;
}

.box {
    margin-top: 25px;
    display: inline-block;
    margin-left: 12%;
    width: 200px;
    height: 200px;
    position: relative;
}

.box_2 {
    margin-top: 25px;
    display: inline-block;
    margin-left: 20%;
    width: 200px;
    height: 200px;
    position: relative;
}

.box_3 {
    margin-top: 25px;
    display: inline-block;
    margin-left: 20%;
    width: 200px;
    height: 200px;
    position: relative;
}

.box_home > div{
    border: 2px solid white;
    position: absolute;
    width: 300px;
    height: 300px;
}

.box > div{
    border: 2px solid black;
    position: absolute;
    width: 200px;
    height: 200px;
}

.box_2 > div{
    border: 2px solid white;
    position: absolute;
    width: 200px;
    height: 200px;
}

.box_3 > div{
    border: 2px solid white;
    position: absolute;
    width: 200px;
    height: 200px;
}

.box_home {
    transition-duration: 0.5s;
    transform-style: preserve-3d;
    transform-origin: left center;
}

.box {
    transition-duration: 0.5s;
    transform-style: preserve-3d;
    transform-origin: left center;
}

.box_2 {
    transition-duration: 0.5s;
    transform-style: preserve-3d;
    transform-origin: left center;
}

.box_3 {
    transition-duration: 0.5s;
    transform-style: preserve-3d;
    transform-origin: left center;
}

.box_home:hover {
    transform: perspective(1000px)
            rotateY(-80deg);
}

.box:hover {
    transform: perspective(800px)
            rotateY(-80deg);
}

.box_2:hover {
    transform: perspective(800px)
            rotateY(-80deg);
}

.box_3:hover {
    transform: perspective(800px)
            rotateY(-80deg);
}

.front {
    background-color: red;
    text-align: center;
    text-align-last: center;
}

.front_home {
    background-color: darkred;
    text-align: center;
}

.back {
    background-color: aqua;
    text-align: center;
    transform: translateZ(-100px) 
            rotateY(90deg);
    left: 100px;
}

.back_home {
    background-color: aqua;
    text-align: center;
    transform: translateZ(-150px) 
            rotateY(90deg);
    left: 150px;
}

.card {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: darkred;
    background-size: cover;
    border-radius: 20px;
    z-index: 1;
    overflow: hidden;
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(65% + 50px);
    background-color: aqua;
    transition: transform .5s .25s ease-in;
    z-index: -1;
}

.card::before {
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
    transform: translateY(-100%);
}

.card::after {
    bottom: o;
    clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
    transform: translateY(100%);
}

.card_content {
    opacity: 0;
    text-align: center;
    transition: opacity .25s;
}
.card_title {
    margin-top: -10%;
}

.card_description {
    margin:0 0 0 0;
}

.card:hover::before,
.card:hover::after {
    transform: translateY(0);
}

.card:hover .card_content {
    opacity: 1;
    transition-delay: .75s;
}

#gustos {
    position: relative;
    margin: 0% 3%;
}

#contacto {
    position: absolute;
    margin: -250px 44%;
}

#datos {
    position: absolute;
    margin: -250px 83%;
}
#title_datos {
    margin-top: -10%;
}