<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudios</title>
</head>
</html>

{% extends "layout.html" %}

{% block content %}
<script src="js/archivo_1.js"></script>
<h1>Mis estudios!</h1>

<div class="box">
    <div class="front">
        <h1>Con título</h1>
    </div>
    <div class="back">
        <ul>
            <li>ESO</li>
            <li>Bachillerato</li>
        </ul>
    </div>
</div>

<div class="box_2">
    <div class="front">
        <h1>Sin título</h1>
    </div>
    <div class="back">
        <ul>
            <li>Cursos de programación</li>
            <li>Física</li>
            <li>Matemáticas</li>
            <li>Oratoria</li>
        </ul>
    </div>
</div>

<div class="box_3">
    <div class="front">
        <h2>¡Y seguimos aprendiendo más!</h2>
    </div>
    <div class="back">
        <ul>
            <li>Backend</li>
            <li>Frontend</li>
            <li>Física</li>
            <li>AutoCad</li>
            <li>Python</li>
        </ul>
    </div>
</div>

{% endblock %}