<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
</html>

{% extends "layout.html" %}

{% block content %}
<h1>Hello World!</h1>

<div class="box_home">
    <div class="front_home">
        <h1>
            <pr>Spas Dimitrov Naydov</pr>
            <br>
            <br>
            <pr>18 años</pr>
            <br>
            <br>
            <pr>Genio en vida</pr>
            <br>
        </h1>
    </div>
    <div class="back_home">

    </div>
</div>

<div class="container" id="app">
    <div class="blur"></div>
    <div class="blocks-container">
      <div v-scope="BlockLines()" id="blocks-1"></div>
      <div v-scope="BlockLines()" id="blocks-2"></div>
      <div v-scope="BlockLines()" id="blocks-3"></div>
    </div>
    <div v-scope="BlockTitle()"></div>
  </div>
  
  <template id="block-lines">
    <div class="blocks">
      <div class="block" v-for="blk in blocks" :key="blk">
        <div id="blk-1"></div>
        <div id="blk-2"></div>
      </div>
    </div>
  </template>
  
  <template id="block-title">
    <div class="title">
      <h1>{{ title }}</h1>
    </div>
  </template>

{% endblock %}