<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
</html>

{% extends "layout.html" %}

{% block content %}
<h1>hello world!</h1>

<div class="box_home">
    <div class="front_home">
        <h1>
            <pr>Spas Dimitrov Naydov</pr>
            <br>
            <br>
            <pr>18 años</pr>
            <br>
            <br>
            <pr>Genio en vida</pr>
            <br>
        </h1>
    </div>
    <div class="back_home"></div>
</div>

{% endblock %}